
<!-- Renders on admin.hbs, providing update and delete buttons for administrator user -->
<li>{{post.podcast_title}}, {{post.air_date}} <button class="btn" {{action 'delete' post}}>Delete Post</button></li>
