<!-- Loop through each post (contained in model index.js) object as 'post' and display  'post' property values -->
{{#each model as |post|}}
  <div class='col-md-3'>
    <img src={{post.logo}}> <h3>{{post.podcast_title}}</h3> <p>{{post.blog_author}}, {{post.air_date}}</p>
  </div>
{{/each}}
